a {
    text-decoration: none;
    color: #000
}

hr {
    width: 15%;
    border-top: 2px solid #9d9d9d;
    margin: 0 auto 2rem
}

header {
    background-color: #0dbba4;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2
}

.bg-light {
    background-color: #868686!important
}

.navbar-light .navbar-nav .nav-link {
    color: #d49d00;
    -webkit-text-stroke: 2px #000;
    font-family: Anton, sans-serif;
    font-size: 30px
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link:hover {
    color: #fff
}

.custom .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")
}

.custom.navbar-toggler {
    border-color: #000
}

.custom.navbar-toggler, .logfon {
    background-color: hsla(0, 0%, 100%, .555)
}

.redes ul li {
    display: inline-block;
    margin: 0 15px;
    width: 40px;
    text-align: center
}

.content {
    width: 100%;
    background-color: #c4c4c4
}

.bloque {
    background-color: #333
}

.bloque h2 {
    font-size: 40px;
    color: #bc3600
}

.bloque h1, .bloque h2 {
    font-family: Roboto, sans-serif
}

.bloque h1 {
    text-align: center;
    margin: 0;
    font-size: 9vw;
    line-height: 600px
}

.bloque p {
    font-size: 13px;
    color: #fff;
    text-align: center
}

.bloque.parallax {
    height: 500px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative
}

.parallax.image-1 {
    background-image: url(/images/base.jpg?a46c881bb7ba6c418571761414576002)
}

.parallax.image-2 {
    background-image: url(/images/fondo1.jpg?f03f8aa6ce28b377d0dd061257988fc4)
}

.parallax.image-3 {
    background-image: url(/images/fondo2.jpg?e2a0187df5b5cacfb284d46771f0b695)
}

.imgnts {
    height: 500px
}

.imgnts .img-fondo {
    height: 500px;
    width: 100%
}

.content-nosotros {
    margin-top: 0;
    background-color: #c4c4c4;
    text-align: justify
}

.content-nosotros h4 {
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 45px;
    background: -webkit-linear-gradient(#fffb00, #e25300, #000);
    -webkit-background-clip: text;
    background-clip: content-box;
    -webkit-text-fill-color: transparent
}

.content-nosotros p {
    font-family: Roboto, sans-serif;
    font-size: 18px
}

.carousel-nts .carousel-inner .carousel-item img {
    height: 400px
}

.content-servicios {
    margin-top: 60px;
    background-color: #c4c4c4;
    text-align: justify
}

.content-servicios h4 {
    font-family: Roboto, sans-serif;
    font-size: 35px
}

.content-servicios p {
    font-family: Roboto, sans-serif;
    font-size: 18px
}

.content-proyectos {
    margin-top: 80px
}

.link-category {
    color: #fff
}

.link-category:hover {
    color: rgba(255, 0, 221, .418)
}

.selected-category {
    border-bottom: 2px solid rgba(255, 0, 221, .418)
}

.card-txt-category {
    color: #9d9d9d;
    font-size: 12px
}

.card-txt-author, .card-txt-date {
    color: #9d9d9d;
    font-size: 14px
}

.d-card-text {
    height: 20px
}

.card {
    box-shadow: 7px 7px 14px 6px rgba(255, 0, 221, .418);
    border-radius: 1.25rem;
    z-index: 1
}

.card .card-img-top {
    border-top-left-radius: calc(1.25rem - 1px);
    border-top-right-radius: calc(1.25rem - 1px)
}

.post-txt {
    color: #9d9d9d
}

.proyects-post {
    background: #34f73b;
    background: radial-gradient(ellipse at center, #34f73b 0, #000 15%, #000 28%, #7bf05d 50%, #0cf556 51%, #000 64%, #60f018 71%, #000 76%, #83e627 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#34f73b", endColorstr="#83e627", GradientType=1)
}

p {
    color: #000;
    font-family: Century Gothic
}

.label-contacto {
    font-family: Kanit, sans-serif;
    font-size: 30px;
    color: #fff
}

h2 {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 45px;
    color: red
}

.form-control {
    background-color: hsla(0, 0%, 100%, 0);
    font-family: Kanit, sans-serif;
    color: #fff;
    border: 1px solid red
}

.contact-list ul {
    list-style-type: none;
    padding: 0;
    margin: 0
}

.contact-list li, .imgsimb {
    margin-top: 10px
}

.imgsimb span {
    font-size: 30px
}

.imgsimb a, .imgsimb span {
    font-family: Kanit, sans-serif;
    color: #fff
}

.imgsimb a {
    font-size: 20px
}

.imgsimb a:hover {
    color: red
}

footer {
    padding-top: 20px;
    background-color: #111!important;
    border-top: 2px solid red
}

footer p {
    color: #fff
}

/*# sourceMappingURL=styles.css.map*/
